x-logging: &default-logging
  driver: 'json-file'
  options:
    max-size: "50m"
    max-file: 6

x-base: &base
  depends_on:
    pgsql:
      condition: service_healthy
    redis:
      condition: service_healthy


  image: ghcr.io/adichannnnnhere64/urpuppyv2:staging
  user: "${HOST_UID:-1000}:${HOST_GID:-1000}"
  env_file:
    - path: .env
  ulimits:
    nofile:
      soft: 20000
      hard: 40000
  security_opt:
    - no-new-privileges:true
  logging: *default-logging
  restart: always

services:
  app:
    <<: *base
    healthcheck:
      test: [ "CMD", "curl", "--fail", "localhost:8000/up" ]
      interval: 3s
      retries: 12
      timeout: 5s
    networks:
      - web
      - urpuppy_internal

    volumes:
      - '$DOCKER_DATA/staging-urpuppy/app/storage/app/public:/var/www/html/storage/app/public'
      - '$DOCKER_DATA/staging-urpuppy/app/storage/logs:/var/www/html/storage/logs'

  horizon:
    <<: *base
    environment:
      CONTAINER_MODE: horizon
    networks:
      - urpuppy_internal

    labels:
      traefik.enable: "false"
    volumes:
      - '$DOCKER_DATA/staging-urpuppy/app-queue/storage/app/public:/var/www/html/storage/app/public'
      - '$DOCKER_DATA/staging-urpuppy/app-queue/storage/logs:/var/www/html/storage/logs'

  ssr:
    <<: *base
    environment:
      CONTAINER_MODE: ssr
    networks:
      - urpuppy_internal
    labels:
      traefik.enable: "false"
    volumes:
      - '$DOCKER_DATA/staging-urpuppy/app-ssr/storage/app/public:/var/www/html/storage/app/public'
      - '$DOCKER_DATA/staging-urpuppy/app-ssr/storage/logs:/var/www/html/storage/logs'

  scheduler:
    <<: *base
    environment:
      CONTAINER_MODE: scheduler
    networks:
      - urpuppy_internal

    volumes:
      - '$DOCKER_DATA/staging-urpuppy/app-scheduler/storage/app/public:/var/www/html/storage/app/public'
      - '$DOCKER_DATA/staging-urpuppy/app-scheduler/storage/logs:/var/www/html/storage/logs'
    labels:
      traefik.enable: "false"
    
  redis:
    image: 'redis:alpine'
    networks:
      - urpuppy_internal

    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}", "--maxmemory", "2gb" ]
    security_opt:
      - no-new-privileges:true
    volumes:
      - $DOCKER_DATA/staging-urpuppy/redis:/data
    logging: *default-logging
    healthcheck:
      test: [ "CMD", "redis-cli", "--no-auth-warning", "-a", "${REDIS_PASSWORD}", "ping" ]
      retries: 3
      timeout: 5s
      interval: 5s
    restart: always
    labels:
      traefik.enable: "false"

  pgsql:
    image: 'postgres:17-alpine'
    networks:
      - urpuppy_internal
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    security_opt:
      - no-new-privileges:true
    environment:
      PGPASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_HOST_AUTH_METHOD: 'md5'
      POSTGRES_INITDB_ARGS: '--auth-host=md5'
    volumes:
      - urpuppy-staging-pgsql:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
      interval: 15s
      retries: 12
      timeout: 20s
    restart: always
    logging: *default-logging
    labels:
      traefik.enable: "false"
      docker-volume-backup.stop-during-backup: "true"
      docker-volume-backup.archive-pre: "/bin/sh -c 'pg_dump -U ${DB_USERNAME} -F t ${DB_DATABASE} > /backup/${DB_DATABASE}-database.tar'"

  pgadmin:
    image: 'dpage/pgadmin4:latest'
    networks:
      - urpuppy_internal
      - web
    security_opt:
      - no-new-privileges:true
    depends_on:
      pgsql:
        condition: service_healthy
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_DEFAULT_EMAIL}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_DEFAULT_PASSWORD}'
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: 'True'
    volumes:
      - 'stack-pgadmin:/var/lib/pgadmin'
    restart: always
    logging: *default-logging

  backup:
    image: offen/docker-volume-backup:v2
    networks:
      - urpuppy_internal

    security_opt:
      - no-new-privileges:true
    environment:
      BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_PRUNING_PREFIX: backup-
      BACKUP_CRON_EXPRESSION: "0 2 * * *"
      BACKUP_RETENTION_DAYS: '7'
    restart: always
    depends_on:
      pgsql:
        condition: service_healthy
    logging: *default-logging
    volumes:
      - $DOCKER_DATA/staging-urpuppy/pgsql:/backup/pgsql:ro
      - $DOCKER_DATA/staging-urpuppy/backup/volumes:/archive
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      traefik.enable: "false"

networks:
  web:
    name: traefik_web
    external: true
  urpuppy_internal:
    external: false

volumes:
  urpuppy-staging-pgsql:
    driver: local
  stack-pgadmin:
    driver: local
  mariadb_data3:
    driver: local