services:
    app:
        image: ghcr.io/adichannnnnhere64/urpuppyv2:staging
        container_name: urpuppy-staging
        labels:
          - "traefik.enable=true"
          - "traefik.http.routers.urpuppy.rule=Host(`staging.urpuppy.com`)"
          - "traefik.http.services.urpuppy.loadbalancer.server.port=8000"
        volumes:
          - urpuppy-app-storage:/var/www/html/storage
        env_file:
          - path: .env
        environment:
            WITH_SSR: true
            WITH_HORIZON: true
            WITH_SCHEDULER: true


volumes:
  urpuppy-app-storage:
