
.product-card-responsive-height {
    height: 450px;

      @media (min-width: 768px) {
    // max-height: 300px;
        height: 300px;
  }

  @media (min-width: 992px) {
        height: 410px;
  }

  @media (min-width: 1196px) {
        height: 310px;
  }


  @media (min-width: 1200px) {
        height: 210px;
  }


}

.swiper-thumbs .swiper-slide img {
    border: unset;
}

.swiper-thumbs .swiper-slide-thumb-active img {
    border: 3px solid $primary;
}

.responsive-big-image {
    height: 530px!important;

    @media (max-width: 768px) {
        height: 400px !important;
    }


}

.banner-slider .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.6) !important;
    opacity: 1!important;
    margin: 0 2px !important;
}

.banner-slider .swiper-pagination-bullet-active {
    background: $primary!important;
    margin: 0 2px !important;
}

.swiper-pagination-horizontal {
}

.banner-slider .swiper-pagination {
  right: -32.6%!important;
    bottom: 44px!important;

  left: auto!important;
  transform: none!important;
}


.breadcrumb {
  --bs-breadcrumb-divider: url('/images/svgs/icon-chev-right.svg');
}


.card-rating .rr--svg
{
    stroke: unset!important;
}

#review-bullets {

      display: flex; /* Apply flexbox to pagination */
    justify-content: center; /* Center dots horizontally */
    align-items: center; /* Center dots vertically if needed */
    background: rgba(8, 49, 78, 0.1);
    border-radius: 999px;
    margin: 0 auto; /* Centers the entire element */
    padding: 8px 11px;
    gap: 2px;
    width: fit-content; /* Constrain width to content */

}

#review-bullets .swiper-pagination-bullet {
    background: $secondary;

}

.space-y-4 > * + * {
  margin-top: 1.5rem; /* Adjust to your desired spacing */
}

html {
    scroll-behavior: smooth;
}

.swiper-button-prev {
    display: none!important;
}


.swiper-button-next {
    display: none!important;
}

// .ease-up {
//   opacity: 1;
//   transform: translateY(0);
//   transition: opacity 0.3s ease-out, transform 0.3s ease-out;
// }

:root {
    scroll-behavior: inherit !important;
}

.swiper {
    z-index: 0!important;
}

body {
    overflow: auto!important;
}

.react-date-picker {
    width: 100%;
}

.react-date-picker__wrapper {
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid rgba(8, 49, 78, 0.2)!important;
}

.react-date-picker__wrapper:focus-within {
    // padding: 8px 16px;
    // border-radius: 100px;
    border: 1px solid $primary!important;
}

input[type="number"] {
    border: none!important;
}


.react-calendar__tile--active {
    background: $primary !important;
    color: $white !important;
    border-radius: 10px;
}

.react-date-picker__calendar-button:hover
{
    background: $primary !important;
    color: $white !important;
    border-radius: 10px;
}

abbr {
      text-decoration: none!important;
}

.react-calendar__tile  {
    // color: $secondary !important;
}

.react-calendar__navigation__label__labelText  {
    color: $secondary !important;
    font-weight: 500;
    font-size: 1rem;
}

.react-calendar {
    margin-top: 10px!important;
    padding: 2px 4px;
    border-radius: 10px;
    border: 1px solid rgba(8, 49, 78, 0.2)!important;
}

.icon-tabler-calendar {
    color: $secondary !important;
}

.react-date-picker__inputGroup__input:invalid {
    background: transparent!important;

}

.react-calendar__month-view__days__day {
    color: $secondary !important;
}

.react-calendar__month-view__days__day--weekend {
    color: $primary !important;
}

.react-calendar__navigation__arrow  {
    color: $secondary !important;
}

.react-calendar__tile--active {
    background: $primary !important;
    color: $white !important;
    border-radius: 10px;
}

input:disabled {
    background: rgba(8, 49, 78, 0.1)!important;
    cursor: not-allowed;
}

.thumbnail {
  width: 90px !important; // Default size
  height: 90px !important;
  margin-right: 10px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--bs-border-radius-sm);
  }
}

// Adjust size for mobile
@media (max-width: 768px) { // Mobile breakpoint
  .thumbnail {
    width: 60px !important; // Smaller size for mobile
    height: 60px !important;
  }
}

.filter-box .css-hlgwow {
    padding: unset!important;
    height: 21px!important
}



body.modal-open {
  overflow: hidden!important;
  // position: fixed;
  width: 100%;
  height: 100%;
}


.filter-custom-label {
  // grid-area: 1/1/2/3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--bs-secondary);
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  text-align: initial;
  height: 21px;
}

blockquote {
    padding: 0.1rem 1.3rem;
  font-size: 1.25rem;
  font-style: italic;
  border-left: 2px solid $primary; // Bootstrap Primary Color

  p {
    margin-bottom: 0;
  }

  footer {
    font-size: 1rem;
    font-weight: 600;
    color: #6c757d;
    margin-top: 0.5rem;
  }
}

.PhoneInputInput{
    border: none !important;
    // border: 'none!impo';
    // border-radius: 99px;
    // padding: 8px 16px;
    // font-size: 1rem

}

.PhoneInputInput:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    // background: red !important;
    // border: 'none!impo';
    // border-radius: 99px;
    // padding: 8px 16px;
    // font-size: 1rem

}


.phone-input:focus-within {
    // border: none !important;
    border: 1px solid $primary !important;
}

