@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('LexendDeca'),
    local('LexendDeca-Thin'),
    url('/fonts/lexend-300.latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* @font-face { */
/*   font-family: 'LexendDeca'; */
/*   font-style: normal; */
/*   font-weight: 200; */
/*   font-display: swap; */
/*   src: */
/*     local('LexendDeca'), */
/*     local('LexendDeca-SemiThin'), */
/*     url('/fonts/lexend-200.latin.woff2') format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

/* @font-face { */
/*   font-family: 'LexendDeca'; */
/*   font-style: normal; */
/*   font-weight: 100; */
/*   font-display: swap; */
/*   src: */
/*     local('LexendDeca'), */
/*     local('LexendDeca-Thiniest'), */
/*     url('/fonts/lexend-100.latin.woff2') format('woff2'); */
/*   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
/* } */

@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('LexendDeca'),
    local('LexendDecaRegular'),
    url('./lexenf-400.latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('LexendDeca'),
    local('LexendDeca-Medium'),
    url('./lexend-500.latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('LexendDeca'),
    local('LexendDeca-SemiBold'),
    url('./lexend-600.latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'LexendDeca';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('LexendDeca'),
    local('LexendDeca-Bold'),
    url('./lexend-700.latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400..500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* @import "bootstrap/dist/css/bootstrap.min.css"; */


:root {
  --primary-color: #ffb300;
  --secondary-color: #0F6634;
  /* --secondary-color: #0C5228; */

  --dark-100: #d5e3ee;
  --dark-500: #374b5c;
  --dark-1000: #314352;
  --alt-label: #73818C;


  --secondary-light-color: #D5E3EE;
  --primary-light-color: #ECE0C6;
    --primary-font-color: #978E7B;

    /* --primary-color: #fbc176;   /1* Updated primary color *1/ */
/* --secondary-color: #a5d4b1; /1* Updated secondary color *1/ */

/* Adjusted dark shades to match and complement the new scheme */
/* --dark-100: #d3e8dc;        /1* Lighter shade, close to new secondary *1/ */
/* --dark-500: #57746e;        /1* Medium-dark shade *1/ */
/* --dark-1000: #314842;       /1* Deep dark shade *1/ */



  --puppy-shadow-transparent: 0 6px 20px transparent;
  --puppy-shadow: 0 6px 20px rgba(42, 57, 70, 0.08);
  --puppy-shadow-filter-shadow-filter-transparent: drop-shadow(0 6px 20px transparent);
  --puppy-shadow-filter: drop-shadow(0 6px 20px rgba(42, 57, 70, 0.08));
}

.animated-button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: nowrap;
    height: 45px;
    padding: 0 23px 0 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.animated-button span {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.animated-button span svg {
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

.animated-button:before,
.animated-button:after {
    content: "";
    height: 100px;
    width: 110px;
    background-color: #ffffff;
    opacity: 0.15;
    position: absolute;
    right: -55px;
    top: -10px;
    transform: rotate(20deg);
    transition: 0.3s ease-in-out;
}

.animated-button:before {
    transform: translateX(-220%) translateY(-50px) rotate(20deg);
    opacity: 0;
}
.animated-button:hover span svg {
    transform: scale(1.2);
}
.animated-button:hover:before {
    transform: translateX(0) translateY(0) rotate(20deg);
    opacity: 0.15;
}
.animated-button:hover:after {
    transform: translateX(220%) translateY(-50px) rotate(20deg);
    opacity: 0;
}

.react-date-picker__wrapper {
    border-radius: 6px;
    border: 1px solid rgba(209, 213, 219, 1)!important;
    padding: 5px;
    width: 100%;
}

.react-calendar {
    margin-top:5px;
    border-radius: 6px;
    border: 1px solid rgba(209, 213, 219, 1)!important;
}

.swiper-thumbs .swiper-slide {
  opacity: 0.2;
}

.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.grecaptcha-badge { visibility: hidden; }

.custom-page {
    margin-bottom: 4rem;
}

.custom-page h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.custom-page h3 {
    font-size: 1.6em;
    font-weight: 700;
}

.custom-page li {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5rem;
    list-style: disc;
    margin-left: 2rem;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

