name: Build and Push Docker Image

on:
  push:
    branches:
      - production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-


      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: FrankenPHP.Dockerfile
          tags: ghcr.io/${{ github.repository }}:production
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Add ssh private key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PROD }}

      - name: Execute Deployment with Full Cleanup
        run: |
          ssh -o StrictHostKeyChecking=no -p 2233 ec2-user@urpuppy.com << 'EOF'
          cd /home/ec2-user/production
          docker system prune -f --filter "until=14h"  # Only remove old images
          docker builder prune -f
          sudo swapoff -a && sudo swapon -a
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          docker pull ghcr.io/adichannnnnhere64/urpuppyv2:production
          docker rollout --env-file ./.env.production -t 180 app

          docker container prune -f --filter "until=1h"
          EOF
