name: Build and Push Docker Image

on:
  push:
    branches:
      - production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-


      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: FrankenPHP.Dockerfile
          tags: ghcr.io/${{ github.repository }}:production
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          build-args: |
            NODE_ENV=production
            VITE_STRIPE_KEY=${{ secrets.STRIPE_KEY }}
            STRIPE_KEY=${{ secrets.STRIPE_KEY }}

