name: Build and Push Docker Image

on:
  push:
    branches:
      - dev

# on:
#   pull_request:
#     types:
#       - closed
#     branches:
#       - staging

jobs:
  build:
    #    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.Staging
          tags: ghcr.io/${{ github.repository }}:staging
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Add SSH private key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_STAGING }}

      - name: Execute Deployment with Full Cleanup
        run: |
          ssh -o StrictHostKeyChecking=no root@91.107.220.6 << 'EOF'
          docker system prune -f --filter "until=14h"  # Only remove old images
          docker builder prune -f
          docker pull ghcr.io/adichannnnnhere64/urpuppyv2:staging
          EOF

          curl -X 'POST' \
             'https://bugitik.761073128.xyz/api/compose.deploy' \
             -H 'accept: application/json' \
             -H 'Content-Type: application/json' \
             -H 'x-api-key:  ${{ secrets.DOKPLOY_API_KEY }}'\
             -d '{
             "composeId": "oReeehdo53YQSbrn8pvYe"
          }'

